{% load static %}

<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <title>Gold</title>
                <link rel="stylesheet" href="{% static 'gold/style.css' %}">
        </head>
        <body>
                <div class="heading">
                        <h>Gold!</h>
                </div>
                <div class="links">
                        <a href="plan" class="link">Software Dev Plan</a>
                </div>
                <div class="stuff-box gold">
                        <h2>Calculate The Price Of Gold!</h2>
                        <h3>Enter a number and then select a unit, and calculate your weights worth in gold!</h3>
                        <input type="number" id = "numInput">
                        <select id="unitSelection">
                                <option>T</option>
                                <option>g</option></option>
                                <option>t_oz</option>
                                <option>kg</option>
                                <option>lb</option>
                                <option>oz</option>
                        </select>
                        <button type="button" onclick="calculate()">=</button>
                        <p id="price">Please wait while we get the current price of gold...</p>
                        <p id="error"></p>
                </div>
                <script src="{% static 'gold/script.js' %}"></script>
        </body>
</html>
