{% load static %}

<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <title>Gold</title>
                <link rel="stylesheet" href="{% static 'gold/style.css' %}">
        </head>
        <body>
                <div class="heading">
                        <h>Gold!</h>
                </div>
                <div class="links">
                        <a href="plan" class="link">Software Dev Plan</a>
                </div>
                <div class="stuff-box yellow">

                </div>
        </body>
</html>
